/* header
 -----------------------------------------------------*/
.page-header {
  position: fixed;
  z-index: 4;
  padding: 1vw 0;
  background: #FFF;
  width: 100%;
}
.page-header.header-fixed {
  padding: 0.2vw 0;
  -webkit-box-shadow: 0 2px 10px -2px #ededed;
          box-shadow: 0 2px 10px -2px #ededed;
}
@media screen and (min-width: 768px) {
  .page-header.header-fixed .logo {
    width: 12%;
  }
}
@media screen and (max-width: 768px) {
  .page-header.header-fixed {
    padding: 2vw 0;
  }
}
.page-header .inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header .logo {
  width: 14%;
}
.page-header .logo a {
  display: block;
}
.page-header .logo a img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .page-header .logo {
    width: 30%;
  }
  .page-header .logo a {
    width: 70%;
  }
}
.page-header .meta-center {
  width: 60%;
}
.page-header .meta-center form {
  margin: 0 0 1vw;
  width: 100%;
}
.page-header .meta-center form .md-row {
  position: relative;
}
.page-header .meta-center form .input-search {
  width: 100%;
  border: 1px solid #114E56;
  height: 2.7em;
  border-radius: 2em;
  padding: 0 3vw 0 1.5vw;
}
.page-header .meta-center form .submit {
  border: none;
  width: 4vw;
  height: 2.7em;
  background: url(../images/ico-search.png) no-repeat center right 1vw;
  -webkit-background-size: 1.4vw auto;
          background-size: 1.4vw auto;
  position: absolute;
  right: 0vw;
  top: 0vw;
}
@media screen and (max-width: 768px) {
  .page-header .meta-center {
    width: 0;
    position: relative;
  }
  .page-header .meta-center form {
    position: fixed;
    top: 18vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 70%;
    display: none;
  }
  .page-header .meta-center form.active {
    display: block;
  }
  .page-header .meta-center form .input-search {
    padding: 0 3vw 0 3vw;
    height: 11vw;
  }
  .page-header .meta-center form .submit {
    width: 9vw;
    background: url(../images/ico-search.png) no-repeat center right 3vw;
    -webkit-background-size: 3.4vw auto;
            background-size: 3.4vw auto;
    height: 11vw;
  }
}
.page-header .contact {
  width: 23%;
}
.page-header .contact strong.title {
  background: #FDBF0F;
  color: #114E56;
  font-family: "UTMAvoBold";
  padding: 0.6vw 1vw 0.5vw 1vw;
  display: inline-block;
  border-radius: 0.5vw;
  margin: 0 0 0.5vw;
  cursor: pointer;
  white-space: nowrap;
}
.page-header .contact ul li {
  margin: 0 0 0.3vw;
}
.page-header .contact ul li:last-child {
  margin: 0;
}
.page-header .contact ul li a {
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2E2E2E;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.page-header .contact ul li a:hover {
  color: red;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.page-header .contact ul li a .img {
  width: 1vw;
  display: inline-block;
  height: auto;
}
.page-header .contact ul li a .img img {
  width: 100%;
}
.page-header .contact ul li a span {
  padding-left: 0.5vw;
}
@media screen and (max-width: 768px) {
  .page-header .contact {
    width: 50%;
  }
  .page-header .contact strong.title {
    padding: 2vw 1vw 2vw 1vw;
    font-size: 3.2vw;
    border-radius: 2vw;
    width: 100%;
    text-align: center;
    font-family: "UTMAvoBold";
  }
  .page-header .contact ul {
    display: none;
    position: fixed;
    top: 18vw;
    right: 3%;
    background: #FFF;
    padding: 1vw 3vw;
    border-radius: 1em;
    -webkit-box-shadow: 0 0 5px 1px #ededed;
            box-shadow: 0 0 5px 1px #ededed;
  }
  .page-header .contact ul.active {
    display: block;
  }
  .page-header .contact ul li {
    margin: 0 0 1vw;
  }
  .page-header .contact ul li a .img {
    width: 3vw;
  }
  .page-header .contact ul li a span {
    padding-left: 1vw;
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 768px) {
  .page-header {
    padding: 2vw 0;
  }
}

.main-nav {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "UTMAvo";
}
.main-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-nav ul li a {
  cursor: pointer;
  color: #2E2E2E;
}
.main-nav ul li a:hover {
  color: red;
}
@media screen and (max-width: 768px) {
  .main-nav {
    position: fixed;
    z-index: 3;
    top: 0;
    left: -100%;
    width: 100%;
    background: #FFF;
    z-index: 2;
    height: 100%;
    display: block;
    padding: 12vw 8vw 4vw 8vw;
    font-size: -webkit-calc(3.2vw + 2px);
    font-size: calc(3.2vw + 2px);
    font-weight: bold;
  }
  .main-nav.active {
    left: 0;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .main-nav .ico-close {
    width: 8vw;
    position: absolute;
    right: 0;
    z-index: 10;
    top: -5vw;
  }
  .main-nav ul {
    position: relative;
    display: block;
  }
  .main-nav ul li {
    display: block;
  }
  .main-nav ul li a {
    display: block;
    padding: 1.6vw 0;
  }
}

.icon-menu {
  width: 14%;
  cursor: position;
}
.icon-menu img {
  width: 100%;
}

.icon-search {
  width: 14%;
}
.icon-search img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .icon-search.md-mb {
    display: none !important;
  }
}
